@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>You have none. Sorry. I own you.</p>
<p>P.S. I hope it is ok that I stole the logo from your brothers site, I figured since the project is technically for his website this would fit</p>
